// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Common X-Powers AC200/AC300 Ethernet PHY support for H616-family SoCs
 *
 * Copyright (C) 2026 James Hilliard <james.hilliard1@gmail.com>
 */

&emac1 {
	phy-handle = <&acx00_ephy>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pa_pins>;
	status = "fail-needs-probe";

	ac200: mixed-signal@10 {
		compatible = "x-powers,ac200";
		reg = <0x10>;
		clocks = <&pwm 5>;
		nvmem-cells = <&ac200_bandgap>;
		nvmem-cell-names = "bandgap";
		pinctrl-names = "default";
		pinctrl-0 = <&pwm5_pin>;

		ac200_ephy_ctl: ethernet-phy-control {
			compatible = "x-powers,ac200-ephy-ctl";
			nvmem-cells = <&ephy_calibration>;
			nvmem-cell-names = "calibration";
			phy-mode = "rmii";
		};
	};
};

&mdio1 {
	ac300_ephy_ctl: ethernet-phy-control@10 {
		compatible = "x-powers,ac300-ephy-ctl";
		reg = <0x10>;
		clocks = <&pwm 5>;
		nvmem-cells = <&ephy_calibration>;
		nvmem-cell-names = "calibration";
		pinctrl-names = "default";
		pinctrl-0 = <&pwm5_pin>;
		phy-mode = "rmii";
		status = "fail-needs-probe";
	};

	acx00_ephy: ethernet-phy@0 {
		compatible = "ethernet-phy-id0044.1400";
		reg = <0>;
		nvmem-cells = <&ephy_config>;
		nvmem-cell-names = "configuration";
		x-powers,ac200-control = <&ac200_ephy_ctl>;
		x-powers,ac300-control = <&ac300_ephy_ctl>;
	};
};

&pwm {
	status = "okay";
};
